/Build.Local.props
/.codex/
/Artifacts/
/Research/Local/
**/bin/
**/obj/
.vs/
*.user
*.suo
UnityXR/**/[Ll]ibrary/
UnityXR/**/[Tt]emp/
UnityXR/**/[Oo]bj/
UnityXR/**/[Ll]ogs/
UnityXR/**/[Uu]ser[Ss]ettings/
UnityXR/**/[Bb]uild*/
UnityXR/**/.vs/
UnityXR/**/*.csproj
UnityXR/**/*.sln*
__pycache__/

.idea/
*.sln.DotSettings.user

!ThirdParty/OpenVR/openvr_api.dll
!ThirdParty/OpenVR/openvr_api.lib
